* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Set font family background color scroll-behavior for the whole website */
html{
    font-family: monospace;
    background-color: antiquewhite;
    scroll-behavior: smooth;
}
/* make text decoration none for all of the a tag */
a {
    text-decoration: none;
}
/* Variable for color */
:root {
 --blue-text: #86ddff;
 --dark-blue: #002b8f;
 --mid-blue: #3ba0ff;
}
#mobile-nav {
    display: none;
}
/* Nav bar style */
.nav-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    list-style: none;
    height: 10vh;
    background-color: rgba(100, 100, 100, 0.2);
}
li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}
/* Nav bar Name color */
#name {
    color: var(--blue-text);
    font-size: 30px;
    font-weight: bold;
}
/* Hero Section */
/* Hero section container */
.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
/* hero image styling */
.image-container {
    position: relative;
    background-color: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
}
/* Set overlay for main(hero) image */
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1; 
}
/* make hero text to put at left and styling */
.hero-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
}
/* styling text and a link that on the hero image */
/* Set color blue for first word  */
.firstword {
    color: var(--blue-text);
}
.reachme {
    border: 2px solid var(--blue-text);
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
/* reach out to me link button style and hover */
.reachmetxt {
    color: #FFF;
}
.reachme:hover {
    background-color: rgba(100, 100, 100, 0.4);
}
/* set height auto for all section */
#hero,
#about,
#work,
#contact {
    height: auto;
}
/* about section */
/* make container for about section */
.aboutcontainer {
    margin: 10%;
    width: 60%;
    height: auto;
    background-color: #f56042;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    margin-left: 20%;
    color: var(--blue-text);
    border-radius: 30px;
}
/* using display flex for about section */
.aboutsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
/* text design from about container */
.about-text {
    margin-top: 20%;
    height: auto;
    width: 60%;
    font-size: 1.5rem;
    margin-left: 100px;
    margin-bottom: 30%;
}
.about-text p {
    font-size: 2em;
    font-weight: 300;
    padding: 10px;
    line-height: 1.5;
}
.about-text h1 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: underline;
}
/*  */
/* project section  */
/* make container for project section */
.project-container {
    width: 100%;
    height: auto;
}
/* Work section header design */
.project-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue-text);
    text-decoration: underline;
}
.project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
/* According to acceptance criteria, the first project should be bigger than other
make the firstproject card bigger than other */
.firstproject {
    width: 700px;
    height: 700px;
    background: #FFF;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    /* background-image: url(/images/e-commerce.jpeg); */
    background-size: cover;
    background-position: center;
}
/* set width and height for big card image */
.bgimg1{
    width: 700px;
    height: 650px;
    border-radius: 10px;
}
.firstproject:hover {
    opacity: 0.5;
}
/* project lable name and content design */
.firstproject .name {
    font-size: 3em;
    font-weight: 400;
}
.firstproject .content {
    font-size: 2em;
    font-weight: 400;
}
/* create small card for other project */
.projectimgsmall {
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.projectsmallcard {
    width: 300px;
    height: 300px;
    background: #FFF;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 50px;
    background-size: cover;
    background-position: center;
}
.projectsmallcard:hover {
    opacity: 0.5;
}
.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: white;
    overflow: hidden;
}
/* label from small card design */
.projectsmallcard .name {
    font-size: 2em;
    font-weight: 400;
}
.projectsmallcard .content {
    font-size: 1.8em;
    font-weight: 400;
}
/* Contact section */
.contactcontainer {
    margin: 10%;
    width: 40%;
    height: 20%;
    background-color: #f56042;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    margin-left: 30%;
    color: var(--blue-text);
    border-radius: 30px;
}
.contactsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
.contact-text {
    margin-top: 20%;
    height: auto;
    width: 60%;
    font-size: 1.5rem;
    margin-left: 100px;
    margin-bottom: 30%;
}
.contact-text h1 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: underline;
    margin-bottom: 10%;
}    
/* facebook instagram github icon styling */
.icon {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}
/* media query for any devices ( max width 600px) */
@media only screen and (max-width: 600px) {
    /* Hide the navigation bar */
    .nav-bar {
      display: none;
    }

    /* Adjust the hero text position */
    .hero-text {
      top: 25%;
      left: 5%;
      font-size: 20px;
    }
  
    /* Adjust the about section container */
    .aboutcontainer {
      margin: 5%;
      width: 90%;
      margin-left: 5%;
    }
  
    /* Adjust the project section */
    .project {
      justify-content: center;
    }
     /* Adjust the project cards */
    .projectsmallcard {
        width: 90%;
        height: 400px;
        margin: 20px;
    }
  /* Adjust the contact section container */
  .contactcontainer {
    margin: 5%;
    width: 90%;
    margin-left: 5%;
  }
}  